@using PlusArgent_v1._0.Utils
@model PlusArgent_v1._0.Models.Account

@{
    /**/

    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@TextLayouts.vtAccountEdit</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DateDue, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.DateDue, Enumerable.Range(1, 31).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.DateDue, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    @Html.HiddenFor(model => model.IdAccount)

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-success">@TextLayouts.btnEdit</button>

                            @Html.ActionLink(@TextLayouts.btnCancel, "Index", "Account", null, new { @class = "btn btn-primary" })

                        </div>
                    </div>
                </div>


            </div>


        </div>

    </div>



    


}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<script type="text/javascript">

    //OnChange DDL
    $(document).ready(function () {
        $("#Type").change(function () {
            var dID = $(this).val();

            if ((dID == 0) || (dID == 1) || (dID == 4)) {
                $('#DateDue').attr('disabled', true);
            } else {
                $('#DateDue').removeAttr('disabled');
            }
        });
    });

    //fist execution
    var dID = $("#Type").val();
    if ((dID == 0) || (dID == 1) || (dID == 4)) {
        $('#DateDue').attr('disabled', true);
    } else {
        $('#DateDue').removeAttr('disabled');
    }

</script>
