@using PlusArgent_v1._0.Utils
@{

    PlusArgent_v1._0.Models.User user = (PlusArgent_v1._0.Models.User)HttpContext.Current.Session["User"];

    var fullName = "";
    var photo = "";
    var idUser = 0;

    if (user != null)
    {
        fullName    = user.FullName;
        photo       = user.Photo;
        idUser      = user.IdUser;
        if (photo == null)
        {
            photo = "DefaultPhoto.jpg";
        }
    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plus d'argent</title>

    <script src = "https://code.jquery.com/jquery-3.3.1.min.js" integrity = "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin = "anonymous" ></script>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font")
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="~/Home/Index" class="site_title"><i class="fa fa-tty"></i> <span>Plus d'argent</span></a>
                    </div>

                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <!-- /menu profile quick info -->
                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">

                            <ul class="nav side-menu">
                                <li>
                                    <a href="~/Home/Index"><i class="fa fa-home"></i> Home</a>
                                </li>

                                @if (fullName == "")
                                {
                                    <li><a href="~/User/Create"><i class="fa fa-plus"></i>@TextLayouts.mnRegister</a></li>
                                    <li><a href="~/User/Login"><i class="fa fa-sign-in"></i>@TextLayouts.mnLogin</a></li>
                                }
                                else
                                {
                                    <li>
                                        <a href="~/Transaction/Index"><i class="fa fa-dashboard"></i>@TextLayouts.mnDashboard</a>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-cogs"></i> Configuration<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="~/Account/Index">@TextLayouts.mnAccount</a></li>
                                            <li><a href="~/Category/Index">@TextLayouts.mnCategory</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-calendar"></i>@TextLayouts.mnBook<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="general_elements.html">Manager Calendar</a></li>
                                            <li><a href="calendar.html">Parcels</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="~/User/LogOut"><i class="fa fa-sign-out"></i>@TextLayouts.mnLogout</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item dropdown">
                                @if (fullName != "")
                                {
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="~/Uploads/@photo" alt="">@fullName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="~/User/Edit/@idUser">@TextLayouts.mnProfile</a></li>
                                        <li><a href="~/User/LogOut"><i class="fa fa-sign-out pull-right"></i>@TextLayouts.mnLogout</a></li>
                                    </ul>
                                }
                            </li>
                        </ul>

                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">

                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>

            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                   @Html.Raw(TextLayouts.txtFooterCopyright)
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>



    <!-- Jquery -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap -->
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Custom Theme Scripts -->
    @Scripts.Render("~/bundles/custom")

    @RenderSection("scripts", required: false)

</body>
</html>
